<p>@Model</p>

<link href="~/css/donvo-cytoscape.css" rel="stylesheet" />

<script src="~/js/jquery.js"></script>

<script src="~/js/cytoscape.min.js"></script>
<script src="~/js/dagre.min.js"></script>
<script src="~/js/cytoscape-dagre.js"></script>

<script src="~/js/graphs/connected-components-graph-cytoscape.js"></script>

<body>
    <div id="cy"></div>
</body>