@*@{
    ViewBag.Title = "AVL";
}

<hr />

<h5><span style="color:orange;font-size:large">AVL Tree: </span> 15, 25, 5, 12, 1, 16, 20, 9, 9, 7, 7, -1, 11, 19, 30, 8, 10, 13, 28, 39 </h5>

<p>@Model</p>*@

<h3>AVL Tree</h3>
<p><b>Inputs: {15, 25, 5, 12, 1, 16, 20, 9, 19, 7, 4, -1, 11, 29, 30, 8, 10, 13, 28, 39 }</b></p>

<link href="~/css/donvo-cytoscape.css" rel="stylesheet" />

<script src="~/js/jquery.js"></script>

<script src="~/js/cytoscape.min.js"></script>
<script src="~/js/dagre.min.js"></script>
<script src="~/js/cytoscape-dagre.js"></script>

<script src="~/js/trees/avl-tree-cytoscape.js"></script>

<body>
    <div id="cy"></div>
</body>