@*@{
    ViewBag.Title = "Red Black Tree";
}

<hr />

<h5><span style="color:orange;font-size:large">Red Black Tree: </span> 4,5,7,2,1.3,6,0,8,10,9 </h5>

<p>@Model</p>*@


<h3>Red Black Tree (RBT)</h3>
<p><b>Inputs: { 4,5,7,2,1.3,6,0,8,10,9 }</b></p>

<link href="~/css/donvo-cytoscape.css" rel="stylesheet" />

<script src="~/js/jquery.js"></script>

<script src="~/js/cytoscape.min.js"></script>
<script src="~/js/dagre.min.js"></script>
<script src="~/js/cytoscape-dagre.js"></script>

<script src="~/js/trees/rbt-tree-cytoscape.js"></script>

<body>
    <div id="cy"></div>
</body>