@*@{
        ViewBag.Title = "BST";
    }

    <hr />

    <h5><span style="color:orange;font-size:large">Binary Search Tree: </span> 15, 25, 36, 55, 75, 21, 5, 100, 60, 12, 1, 16, 20, 9, 18, 7,  24, 33, 22, 17, -1, 44, 84, 64, 14, 74, 11, 19, 30, 8, 10, 13, 28, 39, 45,  40, 48, 47, 37, 90 </h5>

    <p>@Model</p>*@



@{
    ViewBag.Title = "BST";
}

<h3>Binary Search Tree</h3>
<p><b>Inputs: {15, 25, 36, 55, 75, 21, 5, 100, 60, 12, 1, 16, 20, 9, 18, 7,  24, 33, 22, 17, -1, 44, 84, 64, 14, 74, 11, 19, 30, 8, 10, 13, 28, 39, 45,  40, 48, 47, 37, 90}</b></p>

<link href="~/css/donvo-cytoscape.css" rel="stylesheet" />

<script src="~/js/jquery.js"></script>

<script src="~/js/cytoscape.min.js"></script>
<script src="~/js/dagre.min.js"></script>
<script src="~/js/cytoscape-dagre.js"></script>

<script src="~/js/trees/bst-tree-cytoscape.js"></script>

<body>
    <div id="cy"></div>
</body>