@*@{
    ViewBag.Title = "Trie Tree";
}

<hr />

<p>@Model</p>*@

<h4>
    Tries Tree Patterns:  <b>"banana", "pan", "nab", "and", "attenna", "bandana", "ananas", "nana" -> Total words: 8</b>
</h4>

<link href="~/css/donvo-cytoscape.css" rel="stylesheet" />

<script src="~/js/jquery.js"></script>

<script src="~/js/cytoscape.min.js"></script>
<script src="~/js/dagre.min.js"></script>
<script src="~/js/cytoscape-dagre.js"></script>

@*<script src="~/js/graphs/undirected-dense-graph-cytoscape.js"></script>*@
<script src="~/js/trees/tries-tree-cytoscape.js"></script>

<body>
    <div id="cy"></div>
</body>