@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Binary Heaps: Left Tree is Max-Heap and Right Tree is Min-Heap</h3>
<p><b>Inputs: {23,42,4,16,8,15,9,55,0,34,12,2,93,14,27}</b></p>

<link href="~/css/donvo-cytoscape.css" rel="stylesheet" />

<script src="~/js/jquery.js"></script>

<script src="~/js/cytoscape.min.js"></script>
<script src="~/js/dagre.min.js"></script>
<script src="~/js/cytoscape-dagre.js"></script>

<script src="~/js/trees/binary-heaps-tree-cytoscape.js"></script>

<body>
    <div id="cy"></div>
</body>